<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button><a href="/new">New Message</a></button>
    <div>
      <h2>Hi I have <%= messages.length %> messages for you.</h2> <hr>
      <% messages.forEach(function(message){ %>
        <p>Message: <%= message.text %></p>
        <p>From: <%= message.user %></p>  
        <p>Sent: <%= message.added %></p> <hr>     
      <% }) %>
    </div>
  </body>
</html>
